{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <button type="submit" class="btn btn-dark mb-3">Valider</button>
    {{ form_end(form) }}
{% endblock %}
